@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html, body{
  font-family: 'Montserrat', sans-serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navBarTop {
  justify-content: flex-end;
}
.navBarTop .me-auto {
  margin-right: 0 !important;
}
.navbar-nav .nav-link {
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
  /* height: 48px; */
  min-width: 60px;
  text-align: center;
}
.navbar {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.17);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.17);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.17);
}
.newsletterForm .form-control {
  height: 45px;
  background-color: red;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  display: inline-block;
  background: rgb(255, 2, 102);
  background: linear-gradient(
  90deg,
  rgba(255, 2, 102, 1) 0%,
  rgba(91, 96, 207, 1) 100%
  );
  padding-left: 16px;
}
.nav-pills .nav-link {
  color: #fff;
  border-radius: 0 !important;
  font-family: "Karla", sans-serif;
  /* margin-bottom: 11px; */
  padding-left: 0;
  font-size: 20px;
}
.comname{
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}
.mainWrap{
  background: #000;
  background-image: url('./back-desk-min.png');
}
.body-content{
  margin-top: 56px;
  height: 100vh;
}
.left-nav {
  /* background: #161a1da6; */
  border-radius: 5px;
  margin-top: 25px;
  padding: 25px;
  /* border: 1px solid #23282c; */
  min-height: 397px;
} 
.left-nav ul{
  list-style: none;
  padding: 0;
}
.left-nav ul li{
  margin-bottom: 15px;
}
.left-nav ul li a{
  /* color: #706f6f; */
  text-decoration: none;
  /* color: #706f6f; */
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
.left-nav ul li a i{
  margin-right: 8px;
}
.marketcap {
  display: flex;
  justify-content: space-between;
  
}
.market-cap-option span{
  display: flex;
  color: #4faba2;
}
.market-cap-option span i{
 margin-right: 10px;
}
.market-cap-option span p{
 margin: 0;
 }
.market-cap-option {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-right: 17px;
}
.box {
  border:1px solid #323a40;
  padding: 8px 13px;
  border-radius: 7px;
  margin-top: 10px;
  color: #5e5858;
}

.staking-wrap {
  margin-top: 25px;
 
}
.staking-wrap h2{
  font-size: 14px;
  color: #4a5460;
  font-weight: 700;
}
.market-cap-statistic-wrapper {
  background: #070c1859;
  padding: 10px;
  margin-top: 26px;
  border-radius: 8px;
  border: 1px solid rgba(19,207,207,.06666666666666667);
  min-height: 397px;
  background: rgba(19,24,35,.3411764705882353);
}
.staking-table th{
  font-weight: 500;
  font-size: 14px;
}
.staking-table td{
  font-weight: 500;
  font-size: 14px;
  color: #455466;
}
.navbar-light .navbar-brand {
  color: rgb(247 247 247 / 90%);
}
.navbar-light .navbar-nav .nav-link {
  color: #c7c7c7 !important;
  /* height: 48px; */
  min-width: 60px;
  text-align: center;
}

.calculator {
  background: #13171a80;
  padding: 10px;
  margin-top: 26px;
  border-radius: 8px;
  border: 1px solid #4a515a;
}
.calculator h2 {
  color: #4faba2;
  font-size: 17px;
  margin-bottom: 19px;
  text-transform: uppercase;
}
.calculator-box h3 {
  font-size: 14px;
  text-align: center;
  color: #595f64;
}
.returns {
  border: 1px solid #323a40;
  padding: 13px 8px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: transparent;
  width: 100%;
  border-radius: 6px;
  font-size: 12px;
}
.returns:focus {outline: unset;}
.days-wrap span{
  background: #1c2124;
  color: #4c555c;
  padding: 5px 12px;
  margin-right: 7px;
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 8px;
}
.days-wrap {
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
.bal-box-g {
  display: flex;
  background: #1c2124;
  margin-top: 5px;
  color: #384146;
  font-size: 12px;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
}
span.active {
     /* background: #4faba2; */
     color: #4faba2;
     border: 1px solid #4faba2;
}
.bal-box-g h4 {
  font-size: 14px;
  margin: 0;
}
.bal-box-g h5 {
  font-size: 14px;
  margin: 0;
}

p.rwt {
  font-size: 12px;
  /* margin: 0; */
  color: #4c4b4b;
  margin-top: 4px;
}
.bh-bt{
  display: flex;
  align-self: center;
}
.fgh{
  display: flex;
  justify-content: center;
}
.staking-table {
  background: #1c1f244d;
  border: 1px solid #333842;
  border-radius: 5px;
}
.modal-content {
  position: absolute !important;
  top: 151px !important;
  margin: 0 !important;
}
@media(max-width:767px){
  /* .body-content{
  height: 100%;
  } */
  .marketcap {
  flex-direction: column;
}
.market-cap-option {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 17px;
  margin-bottom: 15px;
}
.navbar-light .navbar-toggler {
  background: #464b50;
}
.left-nav {
  min-height: auto;
}
.presale{
  width: 100%;
}
.mainWrap{
  height: 100vh;
}
}

.wallet{
  border: 1px solid;
  background-color: rgba(253,193,19,0.2);
  border-color: rgba(253,193,19);
  border-radius: 5px;
}

.wallet:hover{
  background-color: rgba(253,193,19,0.8);
}


.modal-content {
  background: #211739;
  box-shadow: 0 8px 24px #120129db;
  border: none!important;
  border-radius: 12px;
  z-index: 1000!important;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #604d4d !important;
  background-clip: padding-box;
  outline: 0;
  max-width: 500px;
  margin: -41.75rem auto;
  color: #fff;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.wallet-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #ffffff14;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.close {
  background: #0000;
  box-shadow: #0000;
  border: none;
  outline: none;
  font-size: 2rem;
  color: #fff;
}

.bg-dark{
  --bs-bg-opacity: 0.5 !important;
}
.table-dark{
  color: #373b3e !important;
}
.staking-table th {
  font-weight: 500;
  font-size: 14px;
  color: #51565e;
}
.table-striped>tbody>tr:nth-of-type(odd)>*{
  color: #4f5462 !important;
}
.table-hover>tbody>tr:hover>*{
  color: #4f5462 !important;
}