body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.tab__type {
  background: 0 0;
  border: none;
  color: #b0bacb;
  font-size: 14px;
  width: 192px;
  padding: 0;
  padding: 20px;
  outline: none;
}

.activeType {
  width: 254px;
  color: #fff;
  border-bottom: 1px solid;
  background-color: rgba(253,193,19,0.2);
  /* border-color: rgba(253,193,19); */
  border-radius: 5px;
}

.presale {
  background: #1c202436;
  padding: 10px;
  margin-top: 26px;
  border-radius: 18px;
  width: 85%;
  color: aliceblue;
  /* opacity: 0.8; */
  border: 1px solid #424950;
  /* opacity: 0.8; */
}

.cta__btn {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background: #28e3da;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 35px;
  font-size: 16px;
}

.form__entry {
  display: flex;
  align-items: center;
}

.form__entry input {
  width: 241px;
  height: 46px;
  border-radius: 6px;
  border: solid 1px #42444c;
  background-color: transparent;
  padding: 10px;
  color: #fff;
}

.select_wrap {
  width: 135px;
  position: relative;
  user-select: none;
}

.select_wrap .option {
  display: flex;
  align-items: center;
  margin: 1rem;
}

ul, ol {
  list-style-type: none;
}

li {
  text-align: -webkit-match-parent;
}

.iZgYlJ {
  align-items: center;
  height: 2.2rem;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(62 67 72);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
  font-size: 14px;
}
.tab__form p{
  margin: 0;
  font-size: 14px;
}
.default_option{
  padding: 0;
}
.navbar{
  box-shadow:none !important
  }
  div.bg-dark {
    background:none !important;
  }
@media(max-width:767px){
  .form__entry {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.select_wrap .option {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.form__entry input {
  width: 100%;
}
.mainWrap{
  min-height: 1313px;
}
.tab__form p {
  margin: 8px 0;
  font-size: 14px;
}
}

.align-center{
  margin-left: 35px;
}

@media(max-width:767px){
  .align-center{
    margin-left: 0px;
  }
}